<div class="photo" >
    <figure>
        <img size src="./../assets/images/t0YPXrTbxU4.png" (load)="loadPhoto($event)"/>
    </figure>
    <div class="photo-effect" #photoEffect></div>
</div>
<div class="description">
    <h1>
        Marchuk Volodymyr
    </h1>
    <h3>Web developer</h3>
    <p> some lorem text some lorem text some lorem text some lorem text some lorem text some lorem text some lorem text some lorem text some lorem text some lorem text </p>
    <p> some lorem text some lorem text some lorem text some lorem text some lorem text some lorem text some lorem text some lorem text some lorem text some lorem text </p>
    <p> some lorem text some lorem text some lorem text some lorem text some lorem text some lorem text some lorem text some lorem text some lorem text some lorem text </p>
</div>

    
